version: "3.8"

services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: aws-fcj-chatbot-app:latest
    container_name: aws-fcj-container
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped

